<header class="w-full h-20 bg-white relative">
  <!-- Header with hamburger / Logo and cart -->
  <div class="w-[95%] h-full flex justify-between m-auto items-center ">
    <div class="hamburger-menu-icon h-[10px] flex flex-col justify-between">
      <div class="bg-black h-[2px] w-[20px]"></div>
      <div class="bg-black h-[2px] w-[20px"></div>
      <div class="bg-black h-[2px] w-[20px]"></div>
    </div>
    {% if section.settings.logo_image %}
    <img src="{{ section.settings.logo_image | image_url: height: 45}}" alt="" loading="lazy">
    {% else %}
    <h1 class="font-bold">{{shop.name}}</h1>
    {% endif %}
    <i class="nav__cart-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="icon-cart"><path d="M9 22C9.55228 22 10 21.5523 10 21C10 20.4477 9.55228 20 9 20C8.44772 20 8 20.4477 8 21C8 21.5523 8.44772 22 9 22Z" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M20 22C20.5523 22 21 21.5523 21 21C21 20.4477 20.5523 20 20 20C19.4477 20 19 20.4477 19 21C19 21.5523 19.4477 22 20 22Z" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M1 1H5L7.68 14.39C7.77144 14.8504 8.02191 15.264 8.38755 15.5583C8.75318 15.8526 9.2107 16.009 9.68 16H19.4C19.8693 16.009 20.3268 15.8526 20.6925 15.5583C21.0581 15.264 21.3086 14.8504 21.4 14.39L23 6H6" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></i>
  </div>

  
  <!-- Hamburger menu-list -->
  <ul class="bg-slate-50 h-screen w-[80%] translate-x-[-100%] hamburger-menu-translate transition-transform	duration-500 ease-in relative overflow-hidden">
    {%- for link in section.settings.menulist.links -%}
        <li class="{%- if link.links != blank -%}has-submenu{% endif %}{%if link.title == 'BUNDLE & SAVE' or link.links != blank %} bg-white {% endif %}max-h-[69px] h-full border-t border-slate-100 px-6 font-semibold flex justify-between items-center">
        <a class="w-full h-full flex items-center{%if link.links != blank %} justify-between{%endif%}" href="{{link.url}}" style="{% assign linksHighlightArray = section.settings.highlight_links | split: ',' %}{% for linkHighlight in linksHighlightArray %}{%if link.title == linkHighlight%}color: {{section.settings.highlight_links_color}}{%endif%}{% endfor %}">
        {% if link.title == 'BUNDLE & SAVE'%}
          <i class="fa-solid fa-percent mr-3"></i>
        {% endif %}

        {% if link.title == 'Log in'%}
          <i class="fa-solid fa-user-plus mr-3"></i>
        {% endif %}

        {% if link.title == 'Help centre'%}
          <i class="fa-regular fa-circle-question mr-3"></i>
        {% endif %}
        <p>{{ link.title }}</p>
        <i class=" {%- if link.links == blank -%} hidden {% endif %}fa-solid fa-chevron-right"></i>
        </a>
        {%- if link.links != blank -%}
          <div class="absolute h-full w-full bg-white top-0 left-0 translate-x-[100%] transition-transform duration-500 ease-in overflow-scroll">
            <div class="bg-slate-50 cursor-pointer w-full max-h-[69px] p-6 bg-white flex justify-center items-center">
              <i class="fa-solid fa-chevron-left px-2"></i>
              {{ link.title }}
            </div>
            <ul>
            {%- for child_link in link.links -%}
                {% if child_link.title != 'Learn about the PAP+ formula' 
                  and child_link.title != 'Shop PAP+ Teeth Whitening Strips' 
                  and child_link.title != 'Shop V34 Colour Corrector Serum' 
                  and child_link.title != 'Learn about Hismile Research' 
                %}
              
                <a href="{{ child_link.url }}">
                  <li class="max-h-[69px] h-full border-t border-slate-100 p-6 flex items-center">{{ child_link.title }}</li>
                  </a>
                {% endif %}
                
                {%- if child_link.title == 'Learn about the PAP+ formula'-%}
                  <a href="{{ child_link.url }}">
                  <li class="min-h-[170px] max-h-auto h-full border-t border-slate-100 p-6 flex items-center flex-col">
                    <p class="w-full text-left">{{ child_link.title }}</p>
                  <img src="https://cdn.shopify.com/s/files/1/0115/0985/8404/files/PAPPage_-_Nav_-_Thumbnail_434x.jpg?v=1650600261" alt =""/>
                  </li>
                  </a>
                {%- endif -%}

                {%- if child_link.title == 'Shop PAP+ Teeth Whitening Strips'-%}
                  <a href="{{ child_link.url }}">
                  <li class="min-h-[170px] max-h-auto h-full border-t border-slate-100 p-6 flex items-center flex-col">
                    <p class="w-full text-left">{{ child_link.title }}</p>
                    <img src="https://cdn.shopify.com/s/files/1/0916/4078/files/Nav_-_PAP_Strips_Feature_434x.jpg?v=1643684512" alt =""/>
                  </li>
                  </a>
                {%- endif -%}

                {%- if child_link.title == 'Shop V34 Colour Corrector Serum'-%}
                  <a href="{{ child_link.url }}">
                  <li class="min-h-[170px] max-h-auto h-full border-t border-slate-100 p-6 flex items-center flex-col">
                    <p class="w-full text-left">{{ child_link.title }}</p>
                    <img src="https://cdn.shopify.com/s/files/1/0916/4078/files/Nav_-_V34_Feature_434x.jpg?v=1643684512" alt =""/>
                  </li>
                  </a>
                {%- endif -%}

                {%- if child_link.title == 'Learn about Hismile Research'-%}
                  <a href="{{ child_link.url }}">
                  <li class="min-h-[170px] max-h-auto h-full border-t border-slate-100 p-6 flex items-center flex-col">
                    <p class="w-full text-left">{{ child_link.title }}</p>
                    <img src="https://cdn.shopify.com/s/files/1/0115/0985/8404/files/NavRework_-_Hismile_Research_-_01_434x.jpg?v=1629952474" alt =""/>
                  </li>
                  </a>
                {%- endif -%}                
          {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}
        </li>
    {%- endfor %}
  </ul>
</header>


<script src="https://kit.fontawesome.com/48ed6b69de.js" crossorigin="anonymous"></script>

{% javascript %}
  const hamburgerIcom = document.getElementsByClassName('hamburger-menu-icon')[0]; 
  const hamburgerMenu = document.getElementsByClassName('hamburger-menu-translate')[0]; 
  const hasSubMenu  = document.getElementsByClassName('has-submenu'); 
  subMenuOpen = []; 
  subMenuContent = []; 
  subMenuClose = []; 
  let isOpen = false; 

  hamburgerIcom.addEventListener('click', () => {
    if (isOpen){
      isOpen = false; 
      hamburgerMenu.style.transform = 'translateX(-100%)'; 
      document.getElementsByTagName('body')[0].style.overflow = 'initial'; 
      setTimeout(() => {
        for (let i = 0; i < hasSubMenu.length; i++){
          subMenuContent[i].style.transform = 'translate(100%)'; 
        }
      }, 500)
    }else{
      isOpen = true; 
      hamburgerMenu.style.transform = 'translateX(0%)'; 
      document.getElementsByTagName('body')[0].style.overflow = 'hidden'; 
    }
  }); 
  
  for (let i = 0; i < hasSubMenu.length; i++) {
    subMenuOpen.push(hasSubMenu[i].children[0]); 
    subMenuContent.push(hasSubMenu[i].children[1]); 
    subMenuClose.push(hasSubMenu[i].children[1].children[0]); 

    subMenuOpen[i].addEventListener('click', () => {
      subMenuContent[i].style.transform = 'translate(0%)'; 
    })
  
    subMenuClose[i].addEventListener('click', () => {
      subMenuContent[i].style.transform = 'translate(100%)'; 
    })
  }
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header", 
  "settings": [
    {
      "type": "header",
      "content": "Header"
    }, 
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo image"
    }, 
    {
      "type": "link_list", 
      "id": "menulist",
      "label": "Menu" 
    }, 
    {
      "type": "text", 
      "id": "highlight_links", 
      "label": "Name of the links you want to highlight (separated by a comma)"
    }, 
    {
      "type": "color",
      "id": "highlight_links_color",
      "label": "Color for highlighted links",
      "default": "#000000"
    }
  ]
}
{% endschema %}

  
