<div class="relative mt-[80px] bg-zinc-900">
    <img src="{{ section.settings.r_star_product_image | image_url }}" class="translate-y-[-50px]"/>
    <div class="p-6">
        <p class="bg-pink-600 rounded-lg text-white text-3xl py-2 w-fit text-center px-4">{{ section.settings.r_star_product_benef }}</p>
        <h2 class="text-4xl mt-6 text-white">{{ section.settings.r_star_product.title }}</h2>
        <p class="text-gray-200 mt-6 font-2xl">{{ section.settings.r_star_product_desc }}</p>
        <a href="{{ section.settings.r_star_product.url }}"><button class="bg-white text-black rounded-full font-bold w-full py-4 mt-6 my-6">{{ section.settings.r_star_product_button_text }}</button></a>
    </div>
</div>

{% schema %}
{
    "name": "R-Theme Best product", 
    "tag": "section", 
    "settings": [
        {
            "type": "image_picker", 
            "id": "r_star_product_image", 
            "label": "Your best product image"
        }, 
        {
            "type": "product", 
            "id": "r_star_product", 
            "label": "Your star product"
        }, 
        {
            "type": "text", 
            "id": "r_star_product_benef", 
            "label": "Benef text"
        }, 
        {
            "type": "text", 
            "id": "r_star_product_desc", 
            "label": "Your best product desc"
        }, 
        {
            "type": "text", 
            "id": "r_star_product_button_text", 
            "label": "Your text button"
        }
    ], 
    "presets": [
        {
            "name": "R-Theme Best Product"
        }
    ]
}
{% endschema %}